.gradient-bg-animation{
    /* height:200px; */
    background: rgb(108,108,108);
    background: linear-gradient(90deg, rgba(133,133,133,1) 0%, rgba(214,214,214,1) 50%, rgba(247,247,247,1) 100%);
    background-size: 300% 100%; /*Asignamos un ancho para el background del 300% y altura 100%*/
    animation: gradient 15s ease infinite; /*'gradient' es el nombre de la animación que crearemos, tarda en completarse 15s y vuelve a empezar infinitamente*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}